{
  "presets": [
    "react",
    // needed for UglifyJSPlugin
    "es2015",
    // supports ES6
    // transform-async-to-generator
    "es2017",
    // suports arrow funciton and others advances of ES6
    "stage-0"
  ],
  "plugins": []
}